@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: oklch(var(--b1));
}

::-webkit-scrollbar-thumb {
  background: oklch(var(--b3));
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--b3));
  filter: brightness(0.75);
}

::-webkit-scrollbar-button {
  width: 12px;
  height: 12px;
  background: transparent;
  border: none;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="black" d="M12 8l-6 6h12z"/></svg>')
    center no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="black" d="M12 16l-6-6h12z"/></svg>')
    center no-repeat;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="black" d="M8 12l6-6v12z"/></svg>')
    center no-repeat;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="black" d="M16 12l-6 6v-12z"/></svg>')
    center no-repeat;
}
@layer utilities {
  .plus-btn {
    clip-path: polygon(
      87.137% 98.701%,
      13.158% 98.701%,
      13.158% 98.701%,
      11.166% 98.463%,
      9.276% 97.774%,
      7.514% 96.672%,
      5.905% 95.193%,
      4.474% 93.376%,
      3.247% 91.257%,
      2.248% 88.875%,
      1.503% 86.266%,
      1.038% 83.469%,
      0.877% 80.519%,
      0.877% 19.481%,
      0.877% 19.481%,
      1.038% 16.531%,
      1.503% 13.734%,
      2.248% 11.125%,
      3.247% 8.743%,
      4.474% 6.624%,
      5.905% 4.807%,
      7.514% 3.328%,
      9.276% 2.226%,
      11.166% 1.537%,
      13.158% 1.299%,
      70.678% 1.299%,
      70.678% 1.299%,
      72.168% 1.432%,
      73.615% 1.825%,
      75.005% 2.464%,
      76.327% 3.336%,
      77.566% 4.428%,
      78.711% 5.728%,
      79.748% 7.221%,
      80.664% 8.896%,
      81.447% 10.74%,
      82.083% 12.739%,
      98.543% 73.778%,
      98.543% 73.778%,
      99.24% 77.378%,
      99.427% 80.956%,
      99.14% 84.428%,
      98.42% 87.71%,
      97.304% 90.718%,
      95.831% 93.367%,
      94.039% 95.575%,
      91.967% 97.256%,
      89.654% 98.326%,
      87.137% 98.701%
    );
  }
}
body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
